 <include file="Public/min-header"/>
 <!-- 这个页面是按照优惠劵列表修改的 -->
<div class="wrapper">
    <!-- <include file="Public/breadcrumb"/> -->
    <section class="content" style="padding-top: 0px;">
        <div class="row">
        	<div class="col-xs-12">
            <div class="panel panel-default">
                        <!-- 添加返回按钮       -->
                        <div class="pull-right">
                        <a href="javascript:history.go(-1)" data-toggle="tooltip" title="" class="btn btn-default" style="padding-top: 10px;" data-original-title="返回"><i class="fa fa-reply"></i>返回</a>
                        </div>      
                        <!-- 添加返回结束 -->
                <div class="panel-heading">
                    <h3 class="panel-title">抢购列表</h3>
                </div>
                <div class="panel-body" style="padding-bottom: 0px">
	                <!-- <div class="navbar navbar-default"> -->
	                	<!-- <form class="navbar-form form-inline" action="" method="post"> -->
                        <!--
				            <div class="form-group">
				              	<input type="text" class="form-control" placeholder="搜索">
				            </div>
				            <button type="submit" class="btn btn-default">提交</button>
                         -->   
				            <div class="form-group pull-right">
					            <a href="{:U('Promotion/add_rush')}" class="btn btn-primary pull-right"><i class="fa fa-plus"></i>添加抢购活动</a>
				            </div>		          
			          <!-- </form> -->
	                </div>
                    <div id="ajax_return">
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                <tr>
                                    <td style="width: 1px;" class="text-center"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);"></td>
                                    <td class="text-center">活动名称</td>
									<td class="text-center">抢购总量</td>
									<td class="text-center">抢购价格</td>
                                    <td class="text-center">活动商品</td>
                                    <td class="text-center">开始时间</td>
                                    <td class="text-center">结束时间</td>
                                    <td class="text-center">抢购状态</td>
                                    <td class="text-center">已购买</td>
                                    <td class="text-center">操作</td>
                                </tr>
                                </thead>
                                <tbody>
                                <!-- <volist name="lists" id="list"> -->
                                <foreach name="prom_list" item="vo" key="k" >
                                    <tr>
                                        <td class="text-center">
                                            <input type="checkbox" name="selected[]" value="6">
                                        </td>
                                        <td class="text-center">{$vo.title}</td>
                                        <td class="text-center">{$vo.goods_num}</td>
                                        <td class="text-center">{$vo.price}</td>
                                        <td class="text-center">{$vo.goods_name}</td>
                                        <td class="text-center">{$vo.start_time|date='Y-m-d H:i',###}</td>
                                        <td class="text-center">{$vo.end_time|date='Y-m-d H:i',###}</td>
                                        <td class="text-center">{$state[$vo[status]]}</td>
                                        <td class="text-center">{$vo.buy_num}</td>
                                        <td class="text-center">
                                             <a class="btn btn-primary" href="{:U('Promotion/prom_order_info',array('id'=>$vo['id']))}"><i class="fa fa-pencil"></i></a>
                                            <a class="btn btn-danger" href="{:U('Promotion/prom_order_del',array('id'=>$vo['id']))}" data-url="" data-id="{$vo.id}"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                </foreach>
                                </tbody>
                            </table>
                        </div>
                    </div>
				 <div class="row">
              	    <div class="col-sm-6 text-left"></div>
                    <div class="col-sm-6 text-right">{$page}</div>		
	              </div>                    
				  </div>
                </div>
            </div>
        </div>        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>

</body>
</html>